body {
    background-image: url("/img/background.png");
    background-color: #cccccc;
}

h1 {
    text-align: center;
    /*color: green;*/
    /*text-decoration: overline;*/
    text-shadow: 2px 2px #ff0000;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    position: absolute;
    top: 45%;
    left: 42%;
}
