body {
    background-color: #ffffff;
}

.top img {
    height: 50px;
    width: 50px;
    margin: 10px;
    vertical-align: middle
}

.top span {
    margin: 5px;
    font-size: 1.5em;
}

.top a {
    text-decoration: none;
    color: #000000;
}
    

.test {
    clear: both;
}