<!DOCTYPE html>
<link rel="icon"
      type="image/png"
      href="/img/favicon.ico" />
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
      <a href="{{ .link }}"><button>Login with Google!</button></a>
  </body>
</html>
