<!DOCTYPE html>
<link rel="icon"
      type="image/png"
      href="/img/favicon.ico" />
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <h1>{{ .extra }}.</h1>

<ul>
  <li><a href="/login">login</a></li>
  <li><a href="/authrequest">authrequest</a></li>
</ul>

  </body>
</html>
