<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>

    <h1>{{ .Msg }}.</h1>

<ul>
  <li><a href="/login">login</a></li>
  <li><a href="/logout">logout</a></li>
  <li><a href="/validate">validate</a></li>
  <li><a href="{{ .TestURL }}">{{ .TestURL }}</a></li>
</ul>

  </body>
</html>
