<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>Lasso: {{ .Msg }}.</title>
  </head>
  <body>
{{ if .Testing }}
<h2>-- test mode --</h2>
config file includes <code>testing: true</code>
{{ end }}
    <h1>{{ .Msg }}.</h1>

<ul>
  <li><a href="/login">login</a></li>
  <li><a href="/logout">logout</a></li>
  <li><a href="/validate">validate</a></li>
{{ if .TestURLs }}
  {{ range $url := .TestURLs}}
  <li><a href="{{ $url }}">{{ $url }}</a></li>
  {{ end }}
{{ end }}
</ul>

For support, please contact your network administrator or whomever setup nginx to use Lasso.
<p/>
For help with <a href="https://github.com/LassoProject/lasso">Lasso</a> or to file a bug report, please see the project page at <a href="https://github.com/LassoProject/lasso">https://github.com/LassoProject/lasso</a>
<p/>
  </body>
</html>
